*{
    margin:0;
    padding:0;
}
header{
    position: fixed;
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to left, #43cea2 ,#185a9d );
}

.nav-buttons{
   display:inline-block;
   padding-left:30px;
   text-align:center;
   text-transform: uppercase; 
   font-size:20px;
}
    
#title{
   text-transform: uppercase;
   padding-right:20px;
   padding-left:20px;
   font-family: 'Monoton', cursive;
   font-size: 45px;
   font-weight: 100;
   word-spacing: 20px;
   color:white;
}

#about{
    font-family: sans-serif;
    color:white;
    padding:2px 10px;
    text-decoration: none;
    border-right: 2px solid ;
}
#interests{
    font-family: sans-serif;
    color:white;
    text-decoration: none; 
    padding:5px 5px;
}
.icon-bar{
    padding-right:50px;
}

i{
    padding-right: 5px;
    color: rgb(202, 21, 91);
}



div.banner{
    margin-top:100px;
     padding:140px 0px 125px 0px;
     background-image: url("backgroubd.jpeg");
     background-attachment: fixed;
     background-size: cover;
     width:100%;
     text-align:center; 
}
#aboutme, #myhobbies{
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

#descript{
    padding-bottom: 50px;
    padding-left:280px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color:white;

}

.about-content{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    background:linear-gradient(to top,#334d50, #cbcaa5);
    padding-bottom: 50px;
    
}

.my-image{
    margin-right:50px;  
}
.my-description{
    margin: 50px;
    text-align: justify;
    margin-right:100px;
    font-family: sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

footer{
    
    bottom:0;
    width:100%;
    height:20px;
    position: fixed;
    display:flex;
    background-image: linear-gradient(to left, #43cea2 ,#185a9d );
    height:50px;
    align-items: center;
    justify-content: center;
    font-size: large;
}
footer p{
    color: white;
    font-weight: 3px;
}
a:link, a:visited {
       color: rgb(241, 241, 191);
}
  a:visited {
    text-decoration: grey;
  }
  
  a:hover, a:active {
    text-decoration: underline;
  }
  

.hobby{
    display:flex;
    padding-top: 150px;
    padding-bottom: 200px;
    align-content: center;
    justify-content: left;
    background-image: url("hobbybackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:300px;
    text-align:center; 
}
#myhobbies{
    padding-left:85px;
    padding-top:40px;
}
