*{
    margin:0;
    padding:0;
}
header{
    position: fixed;
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0px;
    right: 0px;
    background-color: rgb(38, 204, 154);
}

.nav-buttons{
   display:inline-block;
   padding-left:30px;
   text-align:center;
   text-transform: uppercase; 
   font-size:20px;
}
    
#title{
   text-transform: uppercase;
   padding-right:20px;
   padding-left:20px;
   font-family: 'Monoton', cursive;
   font-size: 45px;
   font-weight: 100;
   word-spacing: 20px;
   color:magenta;
}

#about{
    font-family: sans-serif;
    color:magenta;
    padding:2px 10px;
    text-decoration: none;
    border-right: 2px solid magenta;
}
#interests{
    font-family: sans-serif;
    color:magenta;
    text-decoration: none; 
    padding:5px 5px;
}
.icon-bar{
    padding-right:50px;
}

i{
    padding-right: 5px;
    color: magenta;
}



div.banner{
    margin-top:100px;
     padding:140px 0px 125px 0px;
     background-color: mediumorchid;
     width:100%;
     text-align:center; 
}
#aboutme{
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

#descript{
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;

}

.about-content{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    background: #636e72;
    padding-bottom: 50px;
    
}

.my-image{
    margin-right:50px;  
}
.my-description{
    margin: 50px;
    text-align: justify;
    margin-right:100px;
    font-family: sans-serif;
    font-size: 18px;
    color:magenta;
    text-decoration: none;
}

footer{
    
    bottom:0;
    width:100%;
    height:20px;
    position: fixed;
    display:flex;
    background-color:#fc5c65;
    height:50px;
    align-items: center;
    justify-content: center;
    
    
}

.link{
    text-decoration: none;
}